<footer id="colophon" class="site-footer" role="contentinfo">
  <div class="col-full">


    <section class="footer-widgets col-1 fix">



      <section class="block footer-widget-1">
        <aside id="pages-2" class="widget widget_pages">
          <h3>Kaviar-Ratgeber</h3>
          <ul>
            <li class="page_item page-item-8 current_page_item"><a href="/sorten/"
                aria-current="page">Beliebte Kaviarsorten</a></li>
            <li class="page_item page-item-15"><a href="{{'/stoerzucht/' | relative_url}}">Die Störzucht</a></li>
            <li class="page_item page-item-11"><a href="{{'/bestellen/' | relative_url }}">Kaviar bestellen – worauf
                achten?</a></li>
            <li class="page_item page-item-6"><a href="{{'/kaviar/' | relative_url }}">Kaviar-Tipps: Beluga &amp; Co</a>
            </li>
            <li class="page_item page-item-13"><a href="{{'/imitat/' | relative_url }}">Kaviarimitate: Ersatzkaviar,
                vegane Sorten &amp; Co</a></li>
          </ul>
        </aside>
        <aside id="text-2" class="widget widget_text">
          <div class="textwidget"><a href="{{'/impressum-datenschutz/' | relative_url }}">Impressum &amp;
              Datenschutz</a></div>
        </aside>
      </section>



    </section><!-- /.footer-widgets  -->

    <div class="site-info">
      © Rogendealer.de - Kaviar online bestellen: nur die Besten Sorten 2020 <br> 
      Storefront designed by 
<!--       <a href="http://www.woothemes.com" alt="Premium WordPress Themes &amp; Plugins by WooThemes"
        title="Premium WordPress Themes &amp; Plugins by WooThemes" rel="designer">WooThemes</a>. 
      </div> -->
    <!-- .site-info -->

  </div><!-- .col-full -->
</footer>