<div class="header-widget-region" role="complementary">
  <div class="col-full">
    <aside id="text-4" class="widget widget_text">
      <div class="textwidget">
        <p><a href="{{absolute_url}}"><img
              src="{{'/assets/img/rsz_beluga-kaviar-1-1.png' | relative_url}}" scale="0"></a></p>
        <h3 class="widget-title berocket_aapf_widget-title ">Definieren Sie nun Ihre Wünsche und der Rogendealer zeigt
          Ihnen die besten Kaivar-Angebote:</h3>
      </div>
    </aside>
    <aside id="berocket_aapf_widget-5" class="widget widget_berocket_aapf">
      <div class="berocket_aapf_widget-wrapper">
        <h3 class="widget-title berocket_aapf_widget-title "><span>Wieviel € möchten Sie ausgeben?</span></h3>
        <ul class="berocket_aapf_widget  " data-scroll_theme="dark">
          <li class="slider price">
            <span class="left">
              € <input type="text" disabled="" id="text_br_price212028757_1" value="0.00"> </span>
            <span class="right">
              € <input type="text" disabled="" id="text_br_price212028757_2" value="933.00"> </span>
            <div class="slide ">
              <div
                class="berocket_filter_slider berocket_filter_price_slider ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"
                data-taxonomy="br_price" data-min="0.00" data-max="933.00" data-value1="0.00" data-value2="933.00"
                data-fields_1="text_br_price212028757_1" data-fields_2="text_br_price212028757_2">
                <div class="ui-slider-range ui-widget-header ui-corner-all" style="left: 0%; width: 100%;"></div><span
                  class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0" style="left: 0%;"></span><span
                  class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0" style="left: 100%;"></span>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </aside>
    <aside id="berocket_aapf_widget-9" class="widget widget_berocket_aapf">
      <div class="berocket_aapf_widget-wrapper">
        <h3 class="widget-title berocket_aapf_widget-title "><span>Geschmacksrichtung</span></h3>
        <ul class="berocket_aapf_widget  " data-scroll_theme="dark">
          <li class="">
            <span>
              <input id="checkbox_14" class=" checkbox_14" type="checkbox" data-term_id="14"
                data-taxonomy="pa_geschmack" data-operator="OR"><label for="checkbox_14" class="berocket_label_widgets">
                nussig</label>
            </span>
          </li>
          <li class="">
            <span>
              <input id="checkbox_15" class=" checkbox_15" type="checkbox" data-term_id="15"
                data-taxonomy="pa_geschmack" data-operator="OR"><label for="checkbox_15" class="berocket_label_widgets">
                würzig</label>
            </span>
          </li>
          <li class="">
            <span>
              <input id="checkbox_16" class=" checkbox_16" type="checkbox" data-term_id="16"
                data-taxonomy="pa_geschmack" data-operator="OR"><label for="checkbox_16" class="berocket_label_widgets">
                mild</label>
            </span>
          </li>
          <li class="">
            <span>
              <input id="checkbox_17" class=" checkbox_17" type="checkbox" data-term_id="17"
                data-taxonomy="pa_geschmack" data-operator="OR"><label for="checkbox_17" class="berocket_label_widgets">
                sahnig</label>
            </span>
          </li>
          <li class="">
            <span>
              <input id="checkbox_21" class=" checkbox_21" type="checkbox" data-term_id="21"
                data-taxonomy="pa_geschmack" data-operator="OR"><label for="checkbox_21" class="berocket_label_widgets">
                lieblich</label>
            </span>
          </li>
          <li class="berocket_widget_show_values" style="display: none;">Show value<span class="show_button"></span>
          </li>
        </ul>
      </div>
    </aside>
    <aside id="berocket_aapf_widget-10" class="widget widget_berocket_aapf">
      <div class="berocket_aapf_widget-wrapper">
        <h3 class="widget-title berocket_aapf_widget-title "><span>Bevorzugte Körnung</span></h3>
        <ul class="berocket_aapf_widget  " data-scroll_theme="dark">
          <li class="">
            <span>
              <input id="checkbox_18" class=" checkbox_18" type="checkbox" data-term_id="18" data-taxonomy="pa_koernung"
                data-operator="AND"><label for="checkbox_18" class="berocket_label_widgets"> grob</label>
            </span>
          </li>
          <li class="">
            <span>
              <input id="checkbox_19" class=" checkbox_19" type="checkbox" data-term_id="19" data-taxonomy="pa_koernung"
                data-operator="AND"><label for="checkbox_19" class="berocket_label_widgets"> fein</label>
            </span>
          </li>
          <li class="">
            <span>
              <input id="checkbox_20" class=" checkbox_20" type="checkbox" data-term_id="20" data-taxonomy="pa_koernung"
                data-operator="AND"><label for="checkbox_20" class="berocket_label_widgets"> mittel</label>
            </span>
          </li>
          <li class="berocket_widget_show_values" style="display: none;">Show value<span class="show_button"></span>
          </li>
        </ul>
      </div>
    </aside>
    <aside id="berocket_aapf_widget-8" class="widget widget_berocket_aapf">
      <div class="berocket_aapf_widget-wrapper">
        <h3 class="widget-title berocket_aapf_widget-title "><span>Gewünschte Sorte</span></h3>
        <ul class="berocket_aapf_widget  " data-scroll_theme="dark">
          <li class="">
            <span>
              <input id="checkbox_6" class=" checkbox_6" type="checkbox" data-term_id="6" data-taxonomy="pa_sorte"
                data-operator="OR"><label for="checkbox_6" class="berocket_label_widgets"> Beluga</label>
            </span>
          </li>
          <li class="">
            <span>
              <input id="checkbox_7" class=" checkbox_7" type="checkbox" data-term_id="7" data-taxonomy="pa_sorte"
                data-operator="OR"><label for="checkbox_7" class="berocket_label_widgets"> Osietra</label>
            </span>
          </li>
          <li class="">
            <span>
              <input id="checkbox_8" class=" checkbox_8" type="checkbox" data-term_id="8" data-taxonomy="pa_sorte"
                data-operator="OR"><label for="checkbox_8" class="berocket_label_widgets"> Sevruga</label>
            </span>
          </li>
          <li class="">
            <span>
              <input id="checkbox_9" class=" checkbox_9" type="checkbox" data-term_id="9" data-taxonomy="pa_sorte"
                data-operator="OR"><label for="checkbox_9" class="berocket_label_widgets"> Siberian</label>
            </span>
          </li>
          <li class="">
            <span>
              <input id="checkbox_10" class=" checkbox_10" type="checkbox" data-term_id="10" data-taxonomy="pa_sorte"
                data-operator="OR"><label for="checkbox_10" class="berocket_label_widgets"> Hybride</label>
            </span>
          </li>
          <li class="">
            <span>
              <input id="checkbox_11" class=" checkbox_11" type="checkbox" data-term_id="11" data-taxonomy="pa_sorte"
                data-operator="OR"><label for="checkbox_11" class="berocket_label_widgets"> Kaviarersatz</label>
            </span>
          </li>
          <li class="">
            <span>
              <input id="checkbox_12" class=" checkbox_12" type="checkbox" data-term_id="12" data-taxonomy="pa_sorte"
                data-operator="OR"><label for="checkbox_12" class="berocket_label_widgets"> Asetra</label>
            </span>
          </li>
          <li class="">
            <span>
              <input id="checkbox_13" class=" checkbox_13" type="checkbox" data-term_id="13" data-taxonomy="pa_sorte"
                data-operator="OR"><label for="checkbox_13" class="berocket_label_widgets"> Imperial</label>
            </span>
          </li>
          <li class="">
            <span>
              <input id="checkbox_23" class=" checkbox_23" type="checkbox" data-term_id="23" data-taxonomy="pa_sorte"
                data-operator="OR"><label for="checkbox_23" class="berocket_label_widgets"> Lachskaviar</label>
            </span>
          </li>
          <li class="berocket_widget_show_values" style="display: none;">Show value<span class="show_button"></span>
          </li>
        </ul>
      </div>
    </aside>
  </div>
</div>