<div class="header-widget-region" role="complementary">
  <div class="col-full">
    <aside id="text-4" class="widget widget_text">
      <div class="textwidget">
        <p><a href="{{site.url}}"><img
              src="{{'/assets/img/rsz_beluga-kaviar-1-1.png' | site.url}}" scale="0"></a></p>
        <h3 class="widget-title berocket_aapf_widget-title ">Definieren Sie nun Ihre Wünsche und der Rogendealer zeigt
          Ihnen die besten Kaivar-Angebote:</h3>
      </div>
    </aside>
    <aside id="berocket_aapf_widget-5" class="widget widget_berocket_aapf">
      <div class="berocket_aapf_widget-wrapper">
        <h3 class="widget-title berocket_aapf_widget-title "><span>Wieviel € möchten Sie ausgeben?</span></h3>
        <ul class="berocket_aapf_widget  " data-scroll_theme="dark">
          <li class="slider price">
            <span class="left">
              € <input type="text" disabled="" id="text_br_price1451965834_1" value="0.00"> </span>
            <span class="right">
              € <input type="text" disabled="" id="text_br_price1451965834_2" value="933.00"> </span>
            <div class="slide ">
              <div
                class="berocket_filter_slider berocket_filter_price_slider ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"
                data-taxonomy="br_price" data-min="0.00" data-max="933.00" data-value1="0.00" data-value2="933.00"
                data-fields_1="text_br_price1451965834_1" data-fields_2="text_br_price1451965834_2">
                <div class="ui-slider-range ui-widget-header ui-corner-all" style="left: 0%; width: 100%;"></div><span
                  class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0" style="left: 0%;"></span><span
                  class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0" style="left: 100%;"></span>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </aside>
  </div>
</div>