@charset "utf-8";

// Define variable.

$base-font-family: 'Poiret One',
"Segoe UI",
Roboto,
Helvetica,
Arial,
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol" !default;
$base-font-size: 16px !default;
$base-font-weight: 700 !default;
$small-font-size: $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;
$table-text-align: left !default;
$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;
$spacing-unit:     30px !default;

$text-color:       rgba(39, 40, 44, 0.7) !default;
$link_color:       #777;
$title_color:      #27282c; 
$bg-hover:         #ddd;
$background-color: #fff !default;
$active_color:     #333;
$bg_footer:        #eee;
$border:           1px solid #bbb;

// Width of the content area
$content-width: 1100px !default;
$big-screen:    1600px;
$on-palm:       600px !default;
$on-laptop:     900px !default;
$padding-top:   86px;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}


@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}
